.bg-teal { background-color: #2DE6E2; }

.bg-lt-blue { background-color: #00B8FF; }

.bg-blue { background-color: #4900FF; }

.bg-dk-blue { background-color: #220D91; }

.bg-purple { background-color: #9600FF; }

.bg-pink { background-color: #FF08C2; }

.bg-red { background-color: #F82B60; }

.bg-yellow { background-color: #FCB630; }
