$size: 15;

$s1px: 1 / $size + rem;
$s2px: 2 / $size + rem;
$s3px: 3 / $size + rem;
$s4px: 4 / $size + rem;
$s5px: 5 / $size + rem;
$s6px: 6 / $size + rem;
$s7px: 7 / $size + rem;
$s8px: 8 / $size + rem;
$s9px: 9 / $size + rem;
$s10px: 10 / $size + rem;
$s11px: 11 / $size + rem;
$s12px: 12 / $size + rem;
$s13px: 13 / $size + rem;
$s14px: 14 / $size + rem;
$s15px: 15 / $size + rem;
$s16px: 16 / $size + rem;
$s17px: 17 / $size + rem;
$s18px: 18 / $size + rem;
$s19px: 19 / $size + rem;
$s20px: 20 / $size + rem;
$s21px: 21 / $size + rem;
$s22px: 22 / $size + rem;
$s23px: 23 / $size + rem;
$s24px: 24 / $size + rem;
$s25px: 25 / $size + rem;
$s26px: 26 / $size + rem;
$s27px: 27 / $size + rem;
$s28px: 28 / $size + rem;
$s29px: 29 / $size + rem;
$s30px: 30 / $size + rem;
$s31px: 31 / $size + rem;
$s32px: 32 / $size + rem;
$s33px: 33 / $size + rem;
$s34px: 34 / $size + rem;
$s35px: 35 / $size + rem;
$s36px: 36 / $size + rem;
$s37px: 37 / $size + rem;
$s38px: 38 / $size + rem;
$s39px: 39 / $size + rem;
$s40px: 40 / $size + rem;