$base-transition: all ease-in-out 0.1s;

@mixin base-dropdown {
	position: absolute;
	top: $s35px;
	padding: $s15px;
	background-color: $white;
	border-radius: $s3px;
	box-shadow: 0 0 $s3px rgba(0,0,0,0.25);
	text-align: left;
	z-index: 20;
}

@mixin base-options {
	ul li {
		padding: $s5px;
		background-color: $transparent-white;
		border-radius: $s3px;
		cursor: pointer;

		&:hover, &:focus {
			transition: $base-transition;
			background-color: $gray4;
		}

		>* { vertical-align: middle; }
		.icon { margin-right: $s7px; }

	}

}

@mixin base-search {
	padding-bottom: $s5px;
	border-bottom: $s2px solid $gray3;
	margin-bottom: $s15px;

	form {
		position: relative;

		&:before {
			content: '';
			background-image: url('../../Img/search.svg');
			height: $s15px;
			width: $s15px;
			position: absolute;
			left: $s5px;
			top: $s5px;
		}

		input[type='search'] {
			border: none;
			font-family: 'Segoe UI';
			color: $gray1;
			font-size: $s12px;
			margin-left: $s20px;
			padding: $s5px;
			position: relative;
		}

	}

}